
.border {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 100px;
    
}


.dropdown {
    display: none;
    position: absolute;
    box-shadow: 1px solid black;
    width: 200px;
    border: 1px solid black;
    height: 100px;
}


.box:hover .dropdown {
    display: block;
}